html, body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
#container {
  position: relative;
}
#background_image {
  width: 100%;
}
#register_image {
  width: 100%;
}
#button_image {
  position: absolute;
  width: 13%;
  left: 7.2%;
  top: 73.5%;
}
h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 90%;
  margin-top: 0px;
}
form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 85%;
  text-align: center;
}
label {
  float: left;
  margin-bottom: 50px;
}
#name, #mailing_address, #email_address, #cell_phone, #handicap {
  float: left;
  margin-bottom: 50px;
  width: 99%;
}
span
{
  display: block;
  overflow: hidden;
  padding: 0 5px
}
span.radio-span {
  text-align: left;
}
div.cb {
  clear: both;
}
#submit {
  width: 5%;
}
a.thumbnail {
  position: absolute;
  top: 67%;
  width: 23%;
  height: 14%;
}
